# Godot 4+ specific ignores
.godot/
.git/
# Исключить файлы, созданные Godot Engine
*.import
*.imported
*.tres
*.tscn
*.scn
*.sct
*.gd

# Игнорировать директории, созданные Godot Engine
.idea/
*.import/

# Игнорировать экспортированные файлы
export.cfg

# Игнорировать автосохраненные файлы редактора
autosave.tscn